body {
    font-family: sans-serif;
    font-size: 12px;
}

table th, table td {
    padding: 3px 6px;
    font-weight: 12px;
    background-color: #efefef;
}

table.horizontal-table th {
    text-align: center;
    font-weight: bold;
    background-color: #ccc;        
}

table.vertical-table th {
    text-align: left;
    font-weight: bold;
    background-color: #ccc;
}

.strong {
    font-weight: bold;
}

table tr.alt td {
    background-color: #d9d9d9;
}

div.footer {
    display: block;
    text-align: center;
    margin-top: 50px;
}
